{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mt-4">Задание {{ task.name }}</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="{{ path('student_rooms') }}">Главная</a></li>
          <li class="breadcrumb-item"><a href="{{ path('student_room', {'roomId': room.id}) }}">{{ room.name }}</a></li>
          <li class="breadcrumb-item active">{{ task.name }}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 py-3">
        {% if (task.description | length ) %}
          <div>
            <strong>Описание:</strong><br>
            {{ task.description }}
          </div>
        {% endif %}

        {% if (task.file | length ) %}
          <div>
            <strong>Задание:</strong><br>
            <a class="file" href="{{ asset('uploads/' ~ task.file) }}" download><i class="fas fa-file-alt"></i></a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% if (answer.mark | length ) %}
          <strong class="text-success">Ваша оценка: </strong>
          {{ answer.mark }}
        {% else %}
          <strong class="text-warning">Оценка еще не выставлена!</strong>
        {% endif %}
      </div>
      {% if (answer.description | length ) %}
        <div class="col-sm-12">
          <strong>Описание ответа:</strong><br>
          {{ answer.description }}
        </div>
      {% endif %}

      {% if (answer.file | length ) %}
        <div class="col-sm-12">
          <strong>Ответ:</strong><br>
          <a class="file" href="{{ asset('uploads/' ~ answer.file) }}" download><i class="fas fa-file-alt"></i></a>
        </div>
      {% endif %}
    </div>

    <div class="row py-3">
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header">Ответ</h5>
          <div class="card-body">
            {{ form_start(addAnswerForm) }}
            {{ form_row(addAnswerForm.description) }}
            {{ form_row(addAnswerForm.file) }}
            {{ form_end(addAnswerForm) }}
          </div>
        </div>
      </div>
    </div>

  </div>



{% endblock %}
