{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="mt-4">Список комнат</h1>
      </div>

      {% for room in rooms %}
        <div class="col-sm-4 py-3 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ path('teacher_room', {'roomId': room.id}) }}">{{ room.name }}</a></h5>
              <div>
                {{ room.description | nl2br }}
              </div>
              <a href="{{ path('teacher_room_edit', {'roomId': room.id}) }}" class="btn btn-warning">Редактировать</a>
              <a href="{{ path('teacher_room_delete', {'roomId': room.id}) }}" class="btn btn-danger">Удалить</a>
            </div>
          </div>
        </div>
      {% endfor %}


    </div>



    <div class="row d-flex justify-content-center">
      <div class="col-sm-4 py-3">
        <div class="card">
          <h5 class="card-header">Добавление комнаты</h5>
          <div class="card-body">
            {{ form_start(addRoomForm) }}
            {{ form_row(addRoomForm.name) }}
            {{ form_end(addRoomForm) }}
          </div>
        </div>

      </div>

    </div>
  </div>




{% endblock %}
