{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mt-4">Комната {{ room.name }}</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="{{ path('teacher_rooms') }}">Главная</a></li>
          <li class="breadcrumb-item active">{{ room.name }}</li>
        </ol>
      </div>
    </div>
    {% if (room.description | length ) %}
      <div class="row pb-3">
        <div class="col-sm-12">
          <strong>Описание:</strong><br>
          {{ room.description | nl2br }}
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-12">
        {% if (room.students | length) %}


          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                    Список студентов
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="list-group">
                    {% for key, student in room.students %}
                      <li class="list-group-item">{{ key+1 }}. {{ student.name }} {{ student.surname }} ({{ student.email }})</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>


        {% else %}
          Студенты отсутствуют
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% for task in tasks %}
        <div class="col-sm-4 py-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a
                    href="{{ path('teacher_task', {'roomId': room.id, 'taskId': task.id}) }}">{{ task.name }}</a></h5>
              <a href="{{ path('teacher_task_edit', {'roomId' : room.id, 'taskId': task.id}) }}" class="btn btn-warning">Редактировать</a>
              <a href="{{ path('teacher_task_delete', {'roomId' : room.id, 'taskId': task.id}) }}"
                 class="btn btn-danger">Удалить</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row py-3">
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header">Добавление задания</h5>
          <div class="card-body">
            {{ form_start(addTaskForm) }}
            {{ form_row(addTaskForm.name) }}
            {{ form_row(addTaskForm.file) }}
            {{ form_row(addTaskForm.description) }}
            {{ form_end(addTaskForm) }}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header">Добавление студента</h5>
          <div class="card-body">
            {{ form_start(addStudentForm) }}
            {{ form_row(addStudentForm.email) }}
            {{ form_end(addStudentForm) }}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
