{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">


      <div class="col-sm-12">
        <h1 class="mt-4">Комната {{ room.name }}</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="{{path('teacher_rooms')}}">Главная</a></li>
          <li class="breadcrumb-item active">{{ room.name }}</li>
        </ol>
      </div>

      {% for task in tasks %}
        <div class="col-sm-4 pt-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ path('teacher_task', {'roomId': room.id, 'taskId': task.id}) }}">{{ task.name }}</a></h5>
              <a href="#" class="btn btn-warning">Редактировать</a>
              <a href="{{ path('teacher_room_delete', {'roomId': room.id}) }}" class="btn btn-danger">Удалить</a>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header">Добавление комнаты</h5>
          <div class="card-body">
            {{ form_start(addForm) }}
            {{ form_row(addForm.name) }}
            {{ form_end(addForm) }}
          </div>
        </div>
      </div>
    </div>


  </div>




{% endblock %}
