{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="mt-4">Список комнат</h1>
      </div>

      {% for room in rooms %}
        <div class="col-sm-4 pt-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ path('teacher_room', {'roomId': room.id}) }}">{{ room.name }}</a></h5>
              <a href="" class="btn btn-warning">Редактировать</a>
              <a href="{{ path('teacher_room_delete', {'roomId': room.id}) }}" class="btn btn-danger">Удалить</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>



  {{ form_start(addForm) }}
  {{ form_row(addForm.name) }}
  {{ form_end(addForm) }}
{% endblock %}
