{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% for task in tasks %}
        <div class="col-sm-4 pt-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ path('teacher_rooms_tasks_task', {'roomId': room.id, 'taskId': task.id}) }}">{{ task.name }}</a></h5>
              <a href="#" class="btn btn-warning">Редактировать</a>
{#              <a href="{{ path('teacher_rooms_delete', {'roomId': room.id}) }}" class="btn btn-danger">Удалить</a>#}
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </div>



  {{ form_start(addForm) }}
  {{ form_row(addForm.name) }}
  {{ form_end(addForm) }}
{% endblock %}
