{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">


      <div class="col-sm-12">
        <h1 class="mt-4">Задание {{ task.name }}</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="{{ path('teacher_rooms') }}">Главная</a></li>
          <li class="breadcrumb-item"><a href="{{ path('teacher_room', {'roomId': room.id}) }}">{{ room.name }}</a></li>
          <li class="breadcrumb-item active">{{ task.name }}</li>
        </ol>
      </div>

      <div class="col-sm-12">
        Описание: {{ task.description }}
        Задание: <a href="{{ asset('uploads/' ~ task.file) }}" download><i class="fas fa-file-alt"></i></a>

      </div>

      <div class="col-sm-12">

        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">№</th>
            <th scope="col">Студент</th>
            <th scope="col">Ответ</th>
            <th scope="col">Оценка</th>
          </tr>
          </thead>
          <tbody>

          {% for key, student in students %}
            <tr>
              <th scope="row">{{ key+1 }}</th>
              <td>{{ student.email }}</td>
              <td>{{ (student.getAnswer(task.id)) ? student.getAnswer(task.id).answer : "-" }}</td>
              <td>
                {% if (student.getAnswer(task.id)) %}
                  {{ student.getAnswer(task.id).mark }}
                  <div class="mark-wrapper">
                    <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                      Выставить оценку
                    </a>

                    <div class="collapse" id="collapseExample">

                      <form action="{{ path('teacher_add_mark') }}" method="post">
                        <div class="form-group">
                          <label for="mark{{ key }}">Введите оценку</label>
                          <input type="number" class="form-control" name="mark" id="mark{{ key }}">
                        </div>
                        <input class="d-none" type="text" name="studentId" value="{{ student.id }}">
                        <input class="d-none" type="text" name="taskId" value="{{ task.id }}">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                      </form>

                    </div>
                  </div>
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}


          </tbody>
        </table>


      </div>


      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header">Добавление студента</h5>
          <div class="card-body">
            {{ form_start(addStudentForm) }}
            {{ form_row(addStudentForm.email) }}
            {{ form_end(addStudentForm) }}
          </div>
        </div>

      </div>
    </div>
  </div>



{% endblock %}
