<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
          crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="index.html">Simple Interaction</a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
  </button>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="login.html">Logout</a>
      </div>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Ваши комнаты</div>


          {% for room in app.user.rooms %}
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoom{{ room.id }}"
               aria-expanded="false" aria-controls="collapseRoom{{ room.id }}">
              <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
              {{ room.name }}
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseRoom{{ room.id }}" aria-labelledby="headingOne"
                 data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{{ path('teacher_room', {'roomId': room.id}) }}">
                  <div class="sb-nav-link-icon"><i class="fas fa-th-large"></i></div>
                  Перейти в комнату
                </a>
                {% if (room.tasks | length) %}
                  {% for task in room.tasks %}
                    <a class="nav-link" href="{{ path('teacher_task', {'roomId': room.id, 'taskId': task.id}) }}">
                      <div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
                      {{ task.name }}
                    </a>
                  {% endfor %}
                {% endif %}
              </nav>
            </div>



          {% endfor %}


        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Вы вошли как:</div>
        {{ app.user.email }}
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {% for label, messages in app.flashes %}
              {% for message in messages %}
                <div class="alert alert-{{ label }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% block body %}{% endblock %}
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; SimpleInteraction {{ "now"|date("Y") }}</div>
        </div>
      </div>
    </footer>
  </div>
</div>


{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
